---
layout: default
---
More than half of the fifty states trace their names back to native peoples. Yet the public-school version of history often assumes these states sprang into being only when colonizers mapped and labeled them, ignoring the thousands of years of history that preceded those moments. To explore this, I reimagine the fifty states and the various territories as fantasy realms. The outlines of these maps seem arbitrary when grafted onto an alternate reality, but this highlights how borders are products and agents of history in our own world. For tribal nations, state borders were often violent, dividing communities, cutting ancestral lands into pieces, erasing the history that came before them. In calculus, taking the integral means to find the area underneath a curve. Therefore, this project seeks to unearth some of the stories that came before the borders and each map is accompanied by a very brief pre-colonial history.

Notes:

Images can be downloaded from this site and are free to use for non-commercial purposes such as in table top role playing games. Full size images are available at itch.io and prints are available at fineartamerica, with proceeds to native charities.

While I have some training in historical research, this is an art project more than a historical education project. The histories are brief and will therefore necessarily be incomplete. Where possible, autonyms (what the tribes call themselves) are used. Please do let me know of any errors.
